<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Login MMMS </title>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='assets/plugins.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='assets/form-2.css')}}" rel="stylesheet"
          type="text/css"/>
</head>

<body class="form">
<div class="form-container outer">
    <div class="form-form">
        <div class="form-form-wrap">
            <div class="form-container">
                <div class="form-content">

                    <h1 class="">Log In</h1>
                    <p class="">Input administration password to log in.</p>

                    <div class="field-wrapper">
                        {% import 'bootstrap/wtf.html' as wtf%}
                        {{ wtf.quick_form(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
